/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffc0cb; /* Розовий фон */
    overflow: hidden; /* Убираем полосу прокрутки */
}

.container {
    text-align: center;
    margin: 20px;
    position: relative;
}

.message-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

#response {
    margin-top: 20px;
    font-size: 18px;
}

.image-container {
    position: static;
    top: 60; /* Розміщення контейнера на верху екрану */
    left: 50%;
    transform: translate(-50%, 0); /* Центрування по горизонталі */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image {
    width: 150px; /* Устанавливаем одинаковый размер изображений */
    height: 150px;
    position: absolute;
    transition: transform 2s ease; /* Продолжительность и плавность анимации */
}

#karina-img {
    transform: translate(-200px, 0); /* Начальная позиция слева за пределами экрана */
}

#dorosh-img {
    transform: translate(200px, 0); /* Начальная позиция справа за пределами экрана */
}

#poc-img {
    opacity: 0; /* Изначально скрываем изображение */
    transition: opacity 1s ease; /* Плавное появление изображения */
}

.hidden {
    opacity: 0; /* Изначально скрываем изображения */
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
    }
    
    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    .image {
        width: 100px;
        height: 100px;
    }
}

.heart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Позволяет кликам проходить сквозь контейнер */
}

.heart {
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("heart.png") no-repeat center center;
    background-size: cover;
}
